[Desktop Entry]
Icon=text-html
Name=https://github.com/nclarius/Plasma-window-decorations
Type=Link
URL[$e]=https://github.com/nclarius/Plasma-window-decorations
