[Desktop Entry]
Name=Active Accent Frame
Comment=Window theme without titlebar highlighting the active window in accent color and inactive windows in background color, for any color scheme

X-KDE-PluginInfo-Name=ActiveAccentFrame
X-KDE-PluginInfo-Version=9.0
X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-Website=https://store.kde.org/p/1678088/
X-KDE-PluginInfo-License=GPL v3.0

Type=Application
X-KDE-PluginInfo-EnabledByDefault=true
