[Desktop Entry]
Name=Active Accent Dusk
Comment=Breeze-based theme highlighting the active window in accent color and inactive windows in background color, for schemes with light background and light accent

X-KDE-PluginInfo-Name=ActiveAccentDusk
X-KDE-PluginInfo-Version=9.2
X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-Website=https://store.kde.org/p/1709569
X-KDE-PluginInfo-License=GPL v3.0

Type=Application
X-KDE-PluginInfo-EnabledByDefault=true
