[Desktop Entry]
Name=ActiveAccentLight

X-KDE-PluginInfo-Name=ActiveAccentLight
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-License=GPL v3.0

X-KDE-PluginInfo-EnabledByDefault=true
